APP_NAME=elysia-api
PORT=3000

NODE_ENV=development

DATABASE_URL="postgresql://postgres:password@localhost:5432/db_elysia"

# generate with 'node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"'
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret

ACCESS_TOKEN_EXPIRES=10m
REFRESH_TOKEN_EXPIRES=7d